body, html{
	background-image: url(header.jpg);
	font-family: 'Quicksand', sans-serif;
	background-size: cover;
 	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position: center;      
}

.container{
	/*display: flex;
	flex-direction: row;*/
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	justify-content: center;
	align-items: left;
}

h1{
	padding-top: 200px;
	padding-right: 70px;
	padding-left: 50px;
	color: black;
	text-align: center;
	width: 500px;
	font-family: 'Quicksand', sans-serif;
}

input[type="submit"]{
	color: white;
	font-family: 'Quicksand', sans-serif;
	background-color: black;
}

.button{
	padding-top: 25px;
	width: 500px;
	text-align: center;
}

